{% load static %}
<!doctype html>
<html lang="de">

<head>
    {% block title %}
    <title>Sprachsynthese</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>

<body>
    <form action="/synthesize/" method="post">
        {% block sidebar %}
        <div id="header">
            <div id="nav">
                <ul>
                    <li>Sprachsynthese</li>
                    <li><button type="button" id="info" class="primary-button" onclick="window.location.href='/';">[ home ]</button>
                    </li>
                    <li><button type="button" id="info" class="primary-button" onclick="window.location.href='/information';">[ i ]</button>
                    </li>
                    <li><button type="button" id="help" class="primary-button" onclick="window.location.href='/help';">[ ? ]</button>
                    </li>
                    <li><button type="button" id="menu" class="primary-button" onclick="window.location.href='/menu';">[ menu ]</button>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}

        {% block content %}
        <div id="content">
        <p>This project focuses on developing a graphical interface in Django for tools for synthesizing speech developed by Stefan Taubert. If you're intrested in contributing to the project, want to cite it or find out more about it, please contact its owner.</p>
        </div>
        {% endblock %}
    </form>

    <div id="footer">
        <p>&copy; Copyright 2023, <a href="https://stefantaubert.com/">Stefan Taubert</a></p>
    </div>
</body>

</html>