body {
    font-family: Noto Sans, sans-serif;
    font-size: medium;
}

.code {
    font-family: Andale Mono, monospace;
    font-size: large;
}

a {
    color: #212529;
    text-decoration: underline;
}

a:hover {
    color: #414141;
    text-decoration: underline;
}

label {
    white-space: nowrap;
    padding-top: 0.5rem; 
    margin-inline-end: 1rem;
}

.btn-ipa {
    background-color: white;
    border-color: white;
    font-size: large;
    padding: 0.75rem;
}

.btn-ipa:hover {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}