body {
    font-family: Noto Sans, sans-serif;
    font-size: medium;
}

.code {
    font-family: Andale Mono, monospace;
    font-size: large;
}

a {
    color: #212529;
    text-decoration: underline;
}

a:hover {
    color: #414141;
    text-decoration: underline;
}

label {
    white-space: nowrap;
}