body {
    font-family: Noto Sans, sans-serif;
    font-size: medium;
}

textarea, 
.code {
    font-family: Andale Mono, monospace;
    font-size: large;
}

a {
    color: #212529;
    text-decoration: underline;
}

a:hover {
    color: #414141;
    text-decoration: underline;
}

h1 {
    font-family: Noto Sans, sans-serif;
    font-size: xx-large;
    font-weight: normal;
    margin-left: 20px;
    white-space: nowrap;
}

h2, 
h3 {
    font-family: Noto Sans, sans-serif;
    font-size: x-large;
    font-weight: normal;
    text-decoration: none;
}