{% extends "home.html" %}

{% block title %}
<title>Speech synthesis: 403</title>
{% endblock %}


{% block content %}
<div class="container-xxl mx-5 mt-5">
    <div class="row">
        <div class="col">
            <h2>Access Forbidden: Error 403</h2>
            <p class="text-start">
                You have encountered a Forbidden error while trying to access this webpage. This error occurs when the
                server understands your request, but you are not allowed to access the requested resource.
            </p>
            <p class="text-start">
                Possible reasons for encountering this error include:
                <ul>
                    <li>Insufficient permissions or credentials to access this content.</li>
                    <li>Access restrictions imposed by the website's administrator.</li>
                    <li>IP-based restrictions preventing your current location from accessing this resource.</li>
                </ul>
            </p>
            <p class="text-start">
                How can you proceed from here?
                <ul>
                    <li>Double-check that you are using the correct credentials or permissions to access this content.</li>
                    <li>If you believe you should have access to this content, you can <a
                            href="https://github.com/ntlprzybysz/synthesis-gui">contact the website's 
                            maintainer</a> or <a href="https://stefantaubert.com/">turn to the owner</a> 
                            for further assistance.</li>
                    <li><a href="{% url 'home' %}">Return to the main page</a> and explore other available content.</li>
                </ul>
            </p>
        </div>
    </div>

</div>
{% endblock %}