{% extends "home.html" %}

{% block title %}
<title>Speech synthesis: 404</title>
{% endblock %}


{% block content %}
<div class="container-xxl mx-5 mt-3">
    <h2>Page Not Found: Error 404</h2>
    
    <p>You have arrived at this webpage due to one of the following reasons:<br><br>
        &diams; Our server is currently unavailable.<br>
        &diams; The page has been relocated, and the link has not been updated accordingly.<br>
        &diams; This specific page has never existed within our server.</p>

    <p>How can you proceed from here?<br><br>
        &diams; If you manually entered the link or copied it from another source, kindly ensure that there are no typographical errors.<br>
        &diams; Return to <a href="{% url 'home' %}">the main page</a> and attempt to access this content again after a period of time.<br>
        &diams; Should the problem persist and you are certain that this outcome is not intended, we kindly request that you get in touch with the website <a href="https://github.com/ntlprzybysz/synthesis-gui">maintainer</a> or <a href="https://stefantaubert.com/">owner</a> for further assistance.</p>
</div>
{% endblock %}