{% extends "home.html" %}

{% block title %}
<title>Speech synthesis: About</title>
{% endblock %}


{% block content %}
<div class="container-xxl mx-5 mt-5 px-3">
    <div class="row mb-3">
        <div class="col">
            <h2>About This Project</h2>
            <p>
                This website provides a user-friendly graphical interface (GUI) for speech synthesis tools developed by
                <a href="https://stefantaubert.com/">Stefan Taubert</a>. The aim of this project is to offer
                an alternative way of accessing these tools to those who are unable or prefer not to use
                the original command-line interface (CLI).
            </p>
            <p>
                The primary tool featured in this GUI is a CLI designed for training Tacotron 2 using .wav and .TextGrid
                pairs. You can <a href="https://github.com/stefantaubert/tacotron">explore the repository for Tacotron on
                GitHub</a> to learn more. The second tool is a CLI WaveGlow that is used for training WaveGlow with
                .wav files. <a href="https://github.com/stefantaubert/waveglow">See Waveglow on Github</a>. You can
                <a href="https://tuc.cloud/index.php/s/gzaYDNKinHw6GCz">listen to an audio sample of 
                a synthesized text</a>: "The North Wind and the Sun were disputing which was the stronger,
                when a traveler came along wrapped in a warm cloak" (headphones recommended).
            </p>
            <p>
                The web interface for these tools has been developed by
                <a href="https://www.linkedin.com/in/ntl-przybysz/">Natalia Przybysz</a>. It incorporates technologies
                such as Django, Bootstrap, Gunicorn, Nginx, RabbitMQ, Celery and Celery Beat and it is written
                in JavaScript, HTML, CSS and Python. The <a href="https://github.com/ntlprzybysz/synthesis-gui">project's 
                source code is available on GitHub</a>.
            </p>
            <p>
                If you are intrested in contributing to this project, citing it or finding out more about it,
                please <a href="https://stefantaubert.com/">reach out to its owner</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}