{% extends "home.html" %}

{% block title %}
<title>Speech synthesis: Help</title>
{% endblock %}


{% block content %}
<div class="container-fluid mt-5 px-5">
    <div class="row mb-3">
        <div class="col">
            <h2>How to Use This Website?</h2>
            <p class="text-start">
                This website provides a user-friendly interface for speech synthesis tools. In simple terms,
                you can create an audio file where a computer-generated speaker articulates the text
                you specify using the International Phonetic Alphabet (IPA).
            </p>
            <p class="text-start">
                You can <a href="https://tuc.cloud/index.php/s/gzaYDNKinHw6GCz"
                    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">listen 
                    to a sample audio (headphones recommended)</a> of the following text: "The North Wind and the Sun were disputing which
                wasthe stronger, when a traveler came along wrapped in a warm cloak."
            </p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h3>Project Menu</h3>
            <p class="text-start">
                At the top of the page, there is a dropdown menu that allows you to quickly change or save 
                input fields.
            </p>
            <h4>New</h4>
            <p class="text-start">
                "New" resets all fields to default values.
            </p> 
            <h4>Save and Load</h4>
            <p class="text-start">
                "Save" allows you to save all the project details (i.e., title, IPA input, settings) as 
                a simple *.txt file. By saving the file, you can close the website, return later, 
                and resume your work by loading the saved project file using the "Load" option.
            </p>
            <h4>Load Example</h4>
            <p class="text-start">
                "Load example" allows you to input sample synthesis data into the project input fields. 
                They serve as references, providing a clearer understanding of accepted input formats 
                and the application's functionality.
            </p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h3>Project Name Field</h3>
            <p class="text-start">
                You have the option to enter a custom name for your project or leave it as
                the default value, "Example synthesis." The default value is automatically saved, even if you
                leave the field blank.
            </p>

            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-text" style="background: none; border: none; padding: 0;">
                            <img src="/static/graphics/edit_btn.svg" alt="" width="30" height="auto">
                        </div>
                        <input type="text" class="form-control form-control-lg"
                            style="width: 250px; border: none; outline: 0;" id="project-name" value="Example synthesis"
                            aria-label="Project name">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h3>Model and Voice</h3>
            <p class="text-start">
                The input processing occurs in two stages: synthesizing the text into a mel-spectrogram
                and converting it into audio files. Each stage requires a specific model, which has a name,
                symbol range, supported speakers, languages, and accents.
            </p>
            <p class="text-start">
                This section enables you to choose the preferred model variant. Upon selecting the model, 
                the list of available voices and symbols for that particular model will automatically adjust.
                If you're unsure which options are suitable, we recommend sticking to the default values.
            </p>
            <label for="model">Model:
                <select class="form-select" name="model-select-field" id="model-select-field" 
                    style="border-radius: 0px; border-color: #212529;">
                    <option value="101000-with-markers" selected>North American English (w/ duration markers)</option>
                    <option value="101000-without-markers">North American English (w/o duration markers)</option>
                    <option value="1051-IPA-3000">Chinese English</option>
                    <option value="6208-IPA-3500">Italian English</option>
                    <option value="103500-with-markers">Chinese (w/ duration markers)</option>
                    <option value="103500-without-markers">Chinese (w/o duration markers)</option>
                    <option value="MagK-IPA-6400">Czech English</option>
                    <option value="TZ-IPA-6000">Czech English</option>
                </select>
            </label>
            <label for="voice">Voice:
                <select class="form-select" name="voice" id="voice-select-field" 
                    style="border-radius: 0px; border-color: #212529;">
                    <option value="Linda Johnson" selected="">Linda Johnson</option>
                </select>
            </label>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h3>IPA Area Field</h3>
            <p class="text-start">
                The IPA text area is a mandatory field where you should input the text you want 
                to synthesize using IPA symbols. This field is essential for the synthesis process.
            </p>
            <p class="text-start">
                You can adjust the size of the text area by dragging the small triangle in the bottom right corner.
            </p>
            <label for="ipa-input">Input</label>
            <textarea id="ipa-input" class="form-control mb-1"
                style="width: 350px; height: 100px; font-family: Andale Mono, monospace; border-color: #212529; border-radius: 0px;">p˘|r˘|ˈɪː|n˘|t|ɪː|ŋː|,|SIL2|ɪː|n|SIL0|ð|əː|SIL1|ˈoʊ|n|l˘|i|SIL0|sː|ˈɛˑ|n|s|SIL0|w˘|ˈɪ˘|ðː|SIL0|w|ˈɪ|tʃ|SIL0|w|ˈi|SIL0|ˈɑ|r|SIL0|ˈæ|t|SIL0|p˘|r˘|ˈɛ|z|ə|n˘|t|SIL0|k˘|ə˘|n|s|ˈʌrː|n|dː|,|SIL3|d|ˈɪ|f|ərˑ|zː|SIL1|f˘|r˘|ˈʌ˘|mˑ|SIL0|m˘|ˈoʊˑ|s|t˘|SIL0|ˈɪ|f|SIL0|n|ˈɑ|t|SIL0|f˘|r˘|ˈʌ˘|m|SIL0|ˈɔ|lˑ|SIL0|ðˑ|əː|SIL0|ˈɑ|r|t|s˘|SIL0|ə|n|d|SIL0|k|r˘|ˈæ|f|t˘|s|SIL0|r|ˌɛ˘|p|r˘|ɪ˘|z|ˈɛ|n˘|t|ɪ|d|SIL0|ɪː|n|SIL0|ð˘|ə|SIL0|ˌɛˑ|k|s˘|ə|b|ˈɪˑ|ʃ|əˑ|nː|SIL2|ɪ|n|SIL0|b˘|ˈi˘|ɪː|ŋ˘|SIL0|k˘|ə˘|m|p|ˈɛr|ə|t|ɪ|v|l|i|SIL0|mˑ|ˈɑː|d|ər|nː|.|SIL2</textarea>
            <br><br>
            <p class="text-start">
                To successfully generate the audio file, the IPA text area must follow a specific format that
                <a href="https://pypi.org/project/speech-dataset-parser/"
                    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">the
                    speech-dataset-parser</a> can interpret. Follow these guidelines:<br>
                <ul>
                    <li>
                        Each phoneme must be separated into a single interval, e.g., <span class="code">T|h|i|s| |i|s|
                            |a| |t|e|x|t|</span>.
                    </li>
                    <li>
                        Stress marks should be placed directly on the vowel of the syllable, e.g., <span
                            class="code">b|ˈo|d|i</span> instead of <span class="code">ˈb|o|d|i</span> (body).
                    </li>
                    <li>
                        Tone marks should be placed directly on the vowel of the syllable, e.g., <span
                            class="code">ʈʂʰ|w|a˥˩|n</span> instead of <span class="code">ʈʂʰ|w|a|n˥˩</span> (串).
                        Use the following tone characters: <span class="code">˥ ˦ ˧ ˨ ˩</span>, e.g., <span
                            class="code">ɑ˥˩</span>.
                    </li>
                    <li>
                        Use duration marks: <span class="code">˘ ˑ ː</span>, e.g., <span class="code">ʌː</span>.
                    </li>
                    <li>
                        Spell out numbers instead of using numerals.
                    </li>
                    <li>
                        Use <span class="code">SIL0</span>, <span class="code">SIL1</span>, or <span
                            class="code">SIL2</span> to represent spaces, depending on the duration of the pause.
                        <span class="code">SIL0</span> indicates no pause, <span class="code">SIL1</span> indicates
                        a short pause (e.g., after a comma <span
                            class="code">...|v|i|ˈɛ|n|ʌ|,|SIL1|ˈɔ|s|t|r|i|ʌ|...</span>),
                        and <span class="code">SIL2</span> indicates a longer pause (e.g., after a sentence: <span
                            class="code">...|ˈɝ|θ|.|SIL2</span>).
                    </li>
                    <li>
                        Each line in the text file will be synthesized as a separate file, so it's recommended to place
                        each sentence on a single line. You can separate paragraphs with a blank line.
                    </li>
                    <li>
                        Separate each symbol using the separator "<span class="code">|</span>", e.g., <span
                            class="code">s|ˌɪ|ɡ|ɝ|ˈɛ|t</span>. This is useful when the model contains phonemes/symbols
                        that consist of multiple characters, e.g., <span class="code">ˈɛ</span>.
                    </li>
                </ul>
            </p>
            <p class="text-start">
                Example of a valid sentence:<br>
                "As the overlying plate lifts up, it also forms mountain ranges." =>
                <span
                    class="code">ˈæ|z|SIL0|ð|ʌ|SIL0|ˌoʊ|v|ɝ|l|ˈaɪ|ɪ|ŋ|SIL0|p|l|ˈeɪ|t|SIL0|l|ˈɪ|f|t|s|SIL0|ˈʌ|p|,|SIL1|ɪ|t|SIL0|ˈɔ|l|s|oʊ|SIL0|f|ˈɔ|r|m|z|SIL0|m|ˈaʊ|n|t|ʌ|n|SIL0|r|ˈeɪ|n|ʣ|ʌ|z|.|SIL2</span>
            </p>
            <p class="text-start">
                Example of an invalid sentence:<br>
                "Digestion is a vital process which involves the breakdown of food into smaller and smaller components,
                until they can be absorbed and assimilated into the body."
                => <span class="code">daɪˈʤɛsʧʌn ɪz ʌ ˈvaɪtʌl ˈprɑˌsɛs wɪʧ ɪnˈvɑlvz ðʌ ˈbreɪkˌdaʊn ʌv fud ˈɪntu ˈsmɔlɝ
                    ænd ˈsmɔlɝ kʌmˈpoʊnʌnts, ʌnˈtɪl ðeɪ kæn bi ʌbˈzɔrbd ænd ʌˈsɪmʌˌleɪtɪd ˈɪntu ðʌ ˈbɑdi.</span>
            </p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h3>IPA Chart</h3>
            <p class="text-start">
                Next to the IPA text area, you will find an IPA chart with commonly used IPA characters 
                in combinations accepted by the chosen model. Clicking on a button will insert 
                a separator "|" and the selected combination at the cursor's position in the IPA area field.
            </p>
            <div class="row">
                <div class="col">
                    <legend>Insert symbol on cursor position</label>
                    <div class="row" id="ipa-chart" name="ipa-chart" style="width: 350px;">
                        <div class="col" style="padding: .0rem;">
                            <button type="button" class="btn btn-light btn-ipa"
                            onclick="insertSymbol('ɑ')">ɑ</button>
                        </div>
                        <div class="col" style="padding: .0rem;">
                            <button type="button" class="btn btn-light btn-ipa"
                            onclick="insertSymbol('ɐ')">ɐ</button>
                        </div>
                        <div class="col" style="padding: .0rem;">
                            <button type="button" class="btn btn-light btn-ipa"
                            onclick="insertSymbol('ɒ')">ɒ</button>
                        </div>
                        <div class="col" style="padding: .0rem;">
                            <button type="button" class="btn btn-light btn-ipa"
                            onclick="insertSymbol('æ')">æ</button>
                        </div>
                        <div class="col" style="padding: .0rem;">
                            <button type="button" class="btn btn-light btn-ipa"
                            onclick="insertSymbol('ʙ')">ʙ</button>
                        </div>
                        <div class="col" style="padding: .0rem;">
                            <button type="button" class="btn btn-light btn-ipa"
                            onclick="insertSymbol('ɓ')">ɓ</button>
                        </div>
                    </div>
                </div>
            </div>
            <label for="ipa-input-field">Input</label><br>
            <textarea id="ipa-input-field" class="form-control mb-1"
                style="width: 350px; height: 100px; font-family: Andale Mono, monospace; border-color: #212529; border-radius: 0px;"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h3>Paragraph and Sentence Breaks</h3>
            <p class="text-start">
                The values of the "Paragraph Break" and "Sentence Break" fields are adjusted based 
                on the number of paragraphs and sentences in the IPA input field. Each line break 
                (<span class="code">\n</span>) increments the value in the sentence field by one, 
                while a double line break (<span class="code">\n\n</span>) increments the value 
                in the paragraph field by one.
            </p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h3>Output</h3>
            <p class="text-start">
                Once your IPA input is ready for synthesis, click the "Synthesize" button. This will initiate the
                processing.
            </p>
            <button type="button" id="synthesize" class="btn btn-light btn-outline-dark mb-3">Synthesize</button>
            <p class="text-start">
                While the input is being processed, the button will be replaced with a message: "Synthesizing, please
                wait. This can take a few minutes."
            </p>
            <p class="text-start">
                Once the audio is ready, you'll have options to download it and play it back with an audio player 
                like the empty one below.
            </p>
            <audio controls>
                <source src="" type="audio/wav">
                A video player should have appeared here, but your browser does not support the audio tag.
            </audio>
            <button type="button" id="download-button" class="btn btn-light btn-outline-dark mb-3">Download</button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <h3>Questions & Feedback</h3>
            <p class="text-start">
                If you have any additional questions, encounter issues while using this website,
                or would like to provide feedback, please reach out <a href="https://stefantaubert.com/"
                    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">the
                    project owner</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}