{% load static %}
<!doctype html>
<html lang="eng">

<head>
    {% block title %}
    <title>Speech synthesis</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>

<body>
    {% block sidebar %}
    <div id="header">
        <div id="nav">
            <ul>
                <li>Speech synthesis</li>
                <li><button type="button" id="info-button" class="nav-button" onclick="window.location.href='/synthesis/home';">[ home ]</button>
                </li>
                <li><button type="button" id="about-button" class="nav-button" onclick="window.location.href='/synthesis/about';">[ i ]</button>
                </li>
                <li><button type="button" id="help-button" class="nav-button" onclick="window.location.href='/synthesis/help';">[ ? ]</button>
                </ul>
            </div>
        </div>
        {% endblock %}
        
        {% block content %}
        <div id="content">
            <div id="input">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Synthesise</button>
                </form>
            </div>
        </div>
        {% endblock %}

    <div id="footer">
        <p>&copy; Copyright 2023, <a href="https://stefantaubert.com/">Stefan Taubert</a></p>
    </div>
</body>

</html>