{% extends "home.html" %}

{% block title %}
<title>Speech synthesis: Maintenance</title>
{% endblock %}


{% block content %}
<div class="container-xxl mx-5">
    <div class="row">
        <div class="col">
            <h2>Maintenance</h2>

            <p>
                This website is currently down for maintenance because we're working on a better user experience.
            </p>
            <p>
                We'll be back as soon as possible, but you can <a 
                href="https://github.com/ntlprzybysz/synthesis-gui/tree/deployment">catch up on the newest 
                changes on our Github</a> in the meantime.
            </p>
            <br>
            <p>
                Thank you for your patience!
            </p>
        </div>
    </div>
</div>
{% endblock %}